/* CSS reset */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
button,
textarea,
p {
    padding: 0;
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-size: 12px;
}

// *,
// *:before,
// *:after {
//     -webkit-box-sizing: inherit;
//     box-sizing: inherit;
// }
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    line-height: 1.5;
    font-size: 12px;
    color: #333;
    background-color: #f7f7f7;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    height: 100%;
    min-width: 1180px;
}

::-webkit-input-placeholder {
    color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: 0;
    background: none;
}

a {
    color: #1862bb;
    -webkit-touch-callout: none;
    text-decoration: none;
}

a:hover {
    color: #038bff;
    -webkit-touch-callout: none;
    text-decoration: none;
}

:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: 0;
    vertical-align: top;
}

li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.iconfont {
    position: relative;
    top: 1px;
}

.dz-nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dz-nowrap-multi {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.dz-bgimg {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select,
optgroup,
option {
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    border: none;
}

input,
button,
textarea,
select {
    font-size: 100%;
    outline: none;
    -webkit-appearance: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

//火狐下的移除
input[type=number] {
    -moz-appearance: textfield;
}

//谷歌下的移除
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

[v-cloak] {
    display: none;
}

button:hover {
    cursor: pointer;
}
